*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wideBannerImg{
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}
#stoopidSection > h1 {
    color: #181818;
    font-size: 150%;
}
.stupidSectionGridBoxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5%;
    margin: 0.5%;
}